html, body {
  overflow-x:hidden;
  position:relative;
  height:100%;
} 

button {
  border-radius:2px;
  color: white;
  background: #2E7CF6;
  border:none;
  border-radius: 8px;
  padding: 24px 60px;
  font-size: 20px;
  font-weight: 600;
  cursor:pointer;
}

hr {
  margin: 40px;
}

li {
  line-height: 2;
}

section {
  margin: 64px 0;
}

a {
  color: #1857B9;
}

.container {
  max-width: auto;
  padding: 0 20px;
}

.container.mobile {
  padding: 0;
}

@media screen and (min-width: 769px) {
  section {
    margin: 96px 0;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.2rem;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.2rem;
  }
  
  .container {
    max-width: 1440px;
    padding: 0 130px;
  }

  .container.mobile {
    padding: 0 130px;
  }

  .container.mobileOnly {
    padding: 0;
  }
}